<p id="notice"><%= notice %></p>

<p>
  <div class="panel panel-default">
  <div class="panel-body">
  <strong>Wpis:</strong>
  <%= @pin.description %>
</p>
 </div>
  <div class="panel-footer"><%= link_to 'Edytuj', edit_pin_path(@pin) %> |
<%= link_to 'Wróć', pins_path %></div>
</div>

 