
<h1>Witaj użytkowniku!</h1>
<p>Oto moja pierwsza apka :)</p>
<button type="button" class="btn btn-default btn-sm"><%=link_to 'Startowa', root_path%></button>
<button type="button" class="btn btn-default btn-sm"><%=link_to 'O mnie', home_about_path%></button>
